* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.code-wrapper {
    flex: 1;
    height: 50%;
    padding: 10px;
}
.preview-wrapper {
    flex: 1;
    height: 50%;
}
#code {
    overflow: auto;
    height: 100%;
}
.actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 30px;
}
.actions>button {
    margin: 5px 10px;
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    border-radius: 3px;
}
.actions>button.active {
    background-color: red;
    color: white;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}
.actions>button:focus {
    outline: none;
}
